.form {
	width: 700px;
	background:
	radial-gradient(circle farthest-side at 0% 50%,#a2a8d3 23.5%,rgba(240,166,17,0) 0)21px 30px,
	radial-gradient(circle farthest-side at 0% 50%,#a2a8d3 24%,rgba(240,166,17,0) 0)19px 30px,
	linear-gradient(#a2a8d3 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#a2a8d3 0)0 0,
	linear-gradient(150deg,#a2a8d3 24%,#a2a8d3 0,#a2a8d3 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#a2a8d3 0,#a2a8d3 76%,#a2a8d3 0)0 0,
	linear-gradient(30deg,#a2a8d3 24%,#a2a8d3 0,#a2a8d3 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#a2a8d3 0,#a2a8d3 76%,#a2a8d3 0)0 0,
	linear-gradient(90deg,#a2a8d3 2%,#a2a8d3 0,#a2a8d3 98%,#a2a8d3 0%)0 0 #a2a8d3;
	background-size:40px 60px;
  }